<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vote App</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
   integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
   crossorigin=""></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
   <link rel="stylesheet" href="public/styles/styles.css"/>
</head>

<body>
    <div id="map-holder">
            <div class="container fill">
                <div id="map"></div>
            </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-2 mt-4">
                    <a class="btn btn-light" href="/blog">Select Category: </a>
                </div>
            </div>
            <label for="category"></label>
            <select class="custom-select" id="category">
                <option value="Profile">Voter Profile</option>
                <option value="Topics">Political Topics</option>
                <option value="Rep">Representatives</option>

            </select>
        </div>
        <div class="col-md-5 offset-md-3">
            <form id="cms">
                <div class="form-group">
                    <label for="title">Address:</label>
                    <input type="text" class="form-control" id="addressInput">
                    <br />

                    <br />
                    <button id="addressSubmit" type="submit" class="btn btn-success submit btn-lg">Submit</button>
                </div>
            </form>
        </div>
        <!-- Google Civic Info-->
        <div class="card mb-3 d-none" id="civicDiv">
            <h5 class="card-title card-header bg-dark text-white">

            </h5>
            <div class='card-body' id='civicCardBody'>
                <div class="row">
                    <div class="civicPhoto col-sm-12 col-lg-6">
                            
                    </div>
                    <div class="civicInfo col-sm-12 col-lg-6">

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Custom Script -->
    <script src="/js/googleCivic.js" type="text/javascript"></script>
    <script src="/js/proPublica.js" type="text/javascript"></script>

    <script>
            var mymap = L.map('map').setView([39.828000, -98.579415], 4);
        
             L.tileLayer('https://api.mapbox.com/styles/v1/rmerino/cjkltn7yr6i4f2rofqdbxadwz/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1Ijoicm1lcmlubyIsImEiOiJjamZpOHFzaGQwM2p5MzNtcXI5c251a2dlIn0.XRFhUVODMYz4Js_gIkO31g', {
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>, merinogeospatial | Know Your Vote ',
                maxZoom: 23,
            }).addTo(mymap);
        
            // Add markers through get and for loop here
            var popup = L.popup();
        
            // Maybe we can reverse geocode and pass to Google Civic via mapclick? May eant to tesdt if Civic can ingest decimal degrees
            function onMapClick(e) {
                popup
                    .setLatLng(e.latlng)
                    .setContent("You clicked the map at " + e.latlng.toString())
                    .openOn(mymap);
            }
        
            mymap.on('click', onMapClick);
    </script>
</body>

</html>