/* Coolors Exported Palette - coolors.co/939393-e2e2e2-ffe270-ff4242-86a1f9 */

/* HSL */
$color1: hsla(0%, 0%, 58%, 1);
$color2: hsla(0%, 0%, 89%, 1);
$color3: hsla(48%, 100%, 72%, 1);
$color4: hsla(0%, 100%, 63%, 1);
$color5: hsla(226%, 91%, 75%, 1);

/* RGB */
$color1: rgba(147, 147, 147, 1);
$color2: rgba(226, 226, 226, 1);
$color3: rgba(255, 226, 112, 1);
$color4: rgba(255, 66, 66, 1);
$color5: rgba(134, 161, 249, 1);